aniso8601==7.0.0
aspy.yaml==1.3.0
attrs==19.1.0
cfgv==2.0.0
Click==7.0
Flask==1.0.3
flask-restplus==0.12.1
Flask-SQLAlchemy==2.4.0
identify==1.4.5
importlib-metadata==0.18
importlib-resources==1.0.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.711
mypy-extensions==0.4.1
nodeenv==1.3.3
pre-commit==1.17.0
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1
pylama==7.7.1
pyrsistent==0.15.2
pytz==2019.1
PyYAML==5.1.1
six==1.12.0
snowballstemmer==1.9.0
SQLAlchemy==1.3.5
toml==0.10.0
typed-ast==1.4.0
virtualenv==16.6.1
Werkzeug==0.15.4
zipp==0.5.1
